{# меню для подвала #}
{% for c in widget.children %}
    <div data-test="5" class="margin-bottom-2"><a class="text-tertiary" href="{{ c.url }}"
                                                  title="{{ c.name }}"><strong>{{ c.name }}</strong></a></div>
{% endfor %}
